:root {
  --gradient: linear-gradient(
    45deg,
    #ffe6e6,
    #feecec,
    #f1d6d6,
    #f4d6d6,
    #f5dada,
    #060e12
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
